backend:
  name: git-gateway
  repo: delster/stocksy

media_folder: static/images
public_folder: /images

collections:
  - name: lp
    identifier_field: slug
    label: 'Landing Pages'
    folder: 'landingpages'
    create: true
    editor:
      preview: false
    fields:
      - { label: 'Title', name: 'title' }
      - { label: 'Slug', name: 'slug' }
      - { label: 'Description', name: 'description' }
      - label: 'Hero Section'
        name: 'hero'
        widget: 'object'
        fields:
          - { label: 'Heading', name: 'heading' }
          - label: 'Grid Images (Provide 9)'
            name: 'gridImages'
            widget: 'list'
            fields:
              - { label: 'Image (Asset ID)', name: 'imageId', widget: 'string' }
              - { label: 'Image Alt Text', name: 'altText', widget: 'string' }
          - { label: 'Copy', name: 'copy', widget: 'markdown' }
      - label: 'Discover Section'
        name: 'discover'
        widget: 'object'
        fields:
          - { label: 'Vertical Text', name: 'label' }
          - { label: 'Heading', name: 'heading' }
          - { label: 'Copy', name: 'copy', widget: 'markdown' }
          - label: 'Images (Provide 4)'
            name: 'discoverImages'
            widget: 'list'
            fields:
              - { label: 'Image (Asset ID)', name: 'imageId', widget: 'string' }
              - { label: 'Image Alt Text', name: 'altText', widget: 'string' }
              - { label: 'Caption Link (Text)', name: 'captionLinkText', widget: 'string' }
              - { label: 'Caption Link (URL)', name: 'captionLinkUrl', widget: 'string' }
      - label: 'Blog Section'
        name: 'blog'
        widget: 'object'
        fields:
          - { label: 'Vertical Text', name: 'label' }
          - { label: 'Heading', name: 'heading' }
          - label: 'Posts (Provide 2)'
            name: 'posts'
            widget: 'list'
            fields:
              - { label: 'Image (Asset ID)', name: 'imageId', widget: 'string' }
              - { label: 'Post Link (Text)', name: 'linkText', widget: 'string' }
              - { label: 'Post Link (URL)', name: 'linkUrl', widget: 'string' }
      - label: 'Search Section'
        name: 'search'
        widget: 'object'
        fields:
          - { label: 'Heading', name: 'heading' }
